<!doctype html>
<html lang="en">
  	<head>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Residential Viz</title>
  		<link href="/assets/css/foundation.min.css" rel="stylesheet"/>
  	</head>
  	
  	<body>
		<div id="navigation">
			<nav class="top-bar" data-topbar> 
				<ul class="title-area"> 
					<li class="name"> <h1><a href="#">Barbican</a></h1> </li> 
				</ul> 
			
				<section class="top-bar-section"> 
					<!-- Right Nav Section -->
					<ul class="right" data-bind="foreach:menuitems"> 
						<li data-bind="css:{active:$parent.amactive(section)}"><a data-bind="text:name, click:function(){$parent.section(section)}"></a></li> 
					</ul> 
				</section> 
			</nav>
  		</div>  		
		{{ content }}
  	</body>
</html>